<!-- Renderiza o componente apenas se a postagem existir -->
<div>
  <div class="detalhes-postagem">
    <img
      [src]="post.imagem"
      [alt]="post.titulo"
      class="imagem-postagem"
    />
    <h2>{{ post.titulo }}</h2>
    <p>{{ post.descricao }}</p>

    <!-- Informações do Usuário -->
    <app-usuario-postagem [usuario]="post.usuario"></app-usuario-postagem>

    <!-- Estatísticas -->
    <app-estatisticas-postagem [estatisticas]="post.estatisticas"></app-estatisticas-postagem>

    <a routerLink="/posts">Voltar</a>
  </div>
</div>
